<?php if ($disabled): ?>
<span class="form-control"><?= $value ? e($value) : '&nbsp;' ?></span>
<?php else: ?>

<input id="<?= $this->getId() ?>" value="<?= $value ?>" name="<?= $name ?>" class="form-control" type="text"/>

<script type="text/javascript">

    $('#<?= $this->getId() ?>').daterangepicker(
            {
                locale: {
                    format: '<?= $format ?>'
                },
                "alwaysShowCalendars": true,
                minDate: '<?= $minDate ?>',
                maxDate: '<?= $maxDate ?>',
                ranges: {
                    'Next 7 Days': [moment().add(1, 'days'), moment().add(7, 'days')],
                    'Next 14 Days': [moment().add(1, 'days'), moment().add(14, 'days')],
                    'Next 30 Days': [moment().add(1, 'days'), moment().add(30, 'days')],
                    'Next 60 Days': [moment().add(1, 'days'), moment().add(60, 'days')],
                }
            },
            function (start, end, label) {
                // alert("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
</script>
<?php endif ?>